@charset "utf-8";



h1{
  font-size: 34px;
  text-align: center;
  padding-top: 50px;
}

.gnav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} 

.gnav li{
  margin-right: 40px;
  margin-top: 32px;
}

.gnav li:last-child{
  margin-right: 0;
}

.mainivisual img{
  height: 600px;
  width: 100%;
  object-fit: cover;
}

@media(max-width:600px){
  .mainivisual img{
    height: 100vh;
  }
}

.about{
  text-align: center;
}

.section-title{
  font-size: 34px;
  padding-top: 100px;
  padding-bottom: 40px;
}
    

.about .contents{
  display: flex;
}

.about .contents .content{
  width: calc(100%/3);
}

.about .contents .content img{
  width: 100%;
}

@media(max-width:600px){
  .about .contents{
    flex-direction: column;
  }
  .about .contents .content{
    width: 100%;
    margin-bottom: 30px;
  }

}

.heading-large{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.info{
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding:0 1.5rem;
  border-spacing: 0;
}

.info th,
.info td{
  border-bottom: 1px solid #c9c2bc;
}

.info th{
  text-align: left;
  padding: 1rem;
}

.info td{
  padding: 1rem 0;
}


.copyright{
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
}